/*!*main*!*/
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 99vw;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#loading-overlay img {
    width: 200px; /* Измените размеры в соответствии с вашей анимацией или картинкой */
}

#content {
    display: block;
}

video {
    width: 100%;
    height: auto;
}
.carouselNew{
    position: relative;
    background: linear-gradient(to top, gray 0%, #ffea85 20%, gray 100%);
}


body{
max-width: 98.5vw;
/*background:  linear-gradient(to top, #ffe5b4 0%, #ffea85 20%, #ffe5b4 100%);*/

}
.imgBackground{
    background: white;
}
.marginTop{
    margin-top: 80px;
}
.marginTop_30{
    margin-top: 30px;
}
.marginTop_15{
    margin-top: 15px;
}
.marginMinus{
    margin-top: -20px;
}
.marginNone{
    margin: 0 0 0 0;
}
.marginRight{
    margin: 10px 0 0 30px;
}
.textSize{
    font-size: 50px;
}
.shadow-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.shadow-textNone {
    text-shadow: none;
}
.banner {
    position: relative;
    font-family: "Open Sans", serif;
    font-size: 72px;
    margin-top: 80px;
    color: gray();
    width: auto;
}
.full_active_text {
    opacity: 1;
    transform: translate(0px,0px);
}
.banner_text1{
    transform: translate(0px,120%);
    opacity: 0;
    transition: all 0.6s ease 0s;
    font-size: 50px;
    /*font-style: italic;*/
}
.banner_text2{
    transform: translate(0px,120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
    font-size: 50px;
}

.banner_text1.full_active_text{
    opacity: 1;
    transform: translate(0px,0px);
    transition: all 0.6s ease 0.6s;
}
.banner_text2.full_active_text{
    opacity: 1;
    transform: translate(0px,0px);
    transition: all 0.8s ease 0.8s;
}
.header__logo img {
    max-width: 100%;
    width: auto;
}

@media (min-width: 768px) {
    .header__logo__norm {
        height: 125px;
    }

    .header__logo__norm {
        height: 186px;
    }

    img {
        vertical-align: middle;
    }

    img {
        border: 0;
    }
}
/*.features {*/
/*    width: 90vw;*/
/*}*/
.full_active_text {
    opacity: 1;
    transform: translate(0px,0px);
}
.banner_text3{
    transform: translate(0px,120%);
    opacity: 0;
    transition: all 0.4s ease 0s;
    font-size: 50px;
    /*font-style: italic;*/
    color: gray();

}
.banner_text4{
    font-size: 40px;
    /*font-style: italic;*/
    color: gray();
    text-transform: uppercase;
}
.banner_text3.full_active_text{
    opacity: 1;
    transform: translate(0px,0px);
    transition: all 0.4s ease 0.4s;
}
h3{
    text-transform: uppercase;
    color: gray();
    /*color:#ffc75d ;*/
    font-size: 40px;
}
h3>span{
    padding: 20px;
    color: black;
    font-size: 30px;
}
li>span{
    padding: 20px;
    color: black;
    font-size: 30px;
    margin: 0 0 0 0;
}
.m-4{
    margin: 0.9rem!important;
}
.carousel-item-wrapper {
    margin-right: 10px; /* Регулируйте отступ здесь */
}

.carousel-item:last-child .carousel-item-wrapper {
    margin-right: 0; /* Убираем отступ для последнего слайда */
}
.textFont{
    font-size: 35px;
    margin: 0 0 20px 0;
    color: black;
}
/*.slide {*/
/*    display: none;*/
/*}*/
/*main*/
/*Features*/
.text{
    font-size: 50px;
    color: gray();
}

.photo_feature_text {
    line-height: normal;
    text-align: center;
    margin: 114px 0 0 118px;
    width: 360px;
    align-self: center;
    /*line-height: 23px;*/
    color: #ffffff;
    font-family: "Open Sans", serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    transform: translateY(-50%) rotate(270deg);
    position: relative;
    z-index: 10;
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.photo_feature_text.full_active_text{
    opacity: 1;
    /*transform: translate(0px,0px);*/
    transition: all 0.8s ease 0.8s;
}
.photo_feature_text2.full_active_text{
    opacity: 1;
    transform: translate(0px,0px);
    transition: all 0.8s ease 0s;
}
.photo_feature_text3 {
    line-height: normal;
    margin-top: 24px;
    width: 450px;
    color: #ffffff;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    letter-spacing: 0.4px;
    text-transform: none;
    font-size: 24px;
    font-weight: 700;

}
.photo_feature_text3{
    opacity: 1;
    transform: translate(0px,0px);
    transition: all 0.8s ease 0.8s;
}
.photo_feature_text3.full_active_text{
    opacity: 1;
    transform: translate(0px,0px);
    transition: all 0.8s ease 0s;
}
.photo_feature_text4 {
    margin-top: 14px;
    line-height: normal;
    width: 455px;
    color: #ffffff;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    letter-spacing: 0.4px;
    text-transform: none;
}
.anim-show{
    transform: translate(0px,120%);
    opacity: 0;
}
.anim-show.full_active_text,
.full_active_text .anim-show{
    opacity: 1;
    transform: translate(0px,0px);
    transition: all 1s ease 0s;
}
.anim-show.full_active_text,
.full_active_text .anim-show{
    opacity: 1;
    transform: translate(0px,0px);
    transition: all 1s ease 0s;
}

.btn5 {
    background: no-repeat linear-gradient(to top, #4b803b 0%, #4b803b 100%);
    border-radius: 4px;
    position: relative;

    /*width: 101px;*/
    color: #ffffff;
    font-family: "Open Sans", serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    border: none;
    padding: 16px 30px 16px 17px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}
.btn2,.btn3 {
    background: no-repeat linear-gradient(to top, #4b803b 0%, #4b803b 100%);
    border-radius: 4px;
    position: relative;
    margin: 0 0 0 220px;
    /*width: 101px;*/
    color: #ffffff;
    font-family: "Open Sans", serif;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    border: none;
    padding: 16px 30px 5px 17px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

.btn2:after{
    content: "";
    background: repeating-linear-gradient(to right, transparent 0, transparent 3px, gray 3px, gray 10px);
    left: 75%;
    top: 100%;
    width: 6px;
    height: 40px;
    position: absolute;
}
.paddingNew{
    padding: 10px;
}
.btn5:after{
    content: "";
    background: repeating-linear-gradient(to right, transparent 0, transparent 3px, gray 3px, gray 10px);
    left: 38%;
    top: 100%;
    width: 6px;
    height: 60px;
    position: absolute;
}
.btn5:before{
    content: "";
    background: repeating-linear-gradient(to right, transparent 0, transparent 3px, gray 3px, gray 10px);
    left: 58%;
    top: 98%;
    width: 6px;
    height: 60px;
    position: absolute;
}
.btn2:before{
    content: "";
    background: repeating-linear-gradient(to right, transparent 0, transparent 3px, gray 3px, gray 10px);
    left: 18%;
    top: 100%;
    width: 6px;
    height: 40px;
    position: absolute;
}

.btn5:hover{
    background: linear-gradient(to top, green 0%, green 100%);

}
.btn2:hover,.btn3:hover{
    background: linear-gradient(to right, green 0%, green 100%);

}
li>span:first-child{
    padding: 0 0 0 0;
}

@media screen and (max-width: 1150px) and
(min-width: 200px) {
    .h1{
        margin-right: 30px;
        margin-left: 30px;
    }
    .anim-show{
        transform: translate(0px,0px);
        opacity: 1;
        transition: none;
    }
}

@media screen and (max-width: 1000px) and
(min-width: 200px) {
    .banner_text1 {
        font-size: 35px;
    }
    .banner_text2 {
        font-size: 35px;
    }
    .banner_text3 {
        font-size: 30px;
    }
    h3 {
        font-size: 30px;
    }
    h3>span {
        font-size: 25px;
    }
    .text {
        font-size: 30px;
    }

    element.style {
    }
    li>span:first-child {
        padding: 0 0 0 0;
    }
    .shadow-textNone {
        text-shadow: none;
    }
    li>span {
        font-size: 20px;
    }
    .p-5{
        padding: 1rem!important;
    }
    .pNew5{
        padding: 1rem!important;
    }
    .m-2{
        margin: 3rem !important;
    }
    .btn2, .btn3 {
        margin: 0 0 0 120px;
        font-size: 20px;
    }

    .padding_20 {
        padding: 20px;
    }
    .banner_text4{
        font-size: 30px;
    }
    .m-5 {
        margin: 1.5rem!important;
    }
}
@media screen and (max-width: 770px) and
(min-width: 200px) {
    .wrapper{
        margin: 0 10px 0 0;
    }
    .wrap{
        flex-wrap: wrap;
    }

    img {
        vertical-align: middle;
        margin-right: 100px;
    }
    .header__logo {
        max-width: 70%;
        float: left;
    }
    .header__logo img {
        max-width: 100%;
        width: auto;
    }
    .header__logo__norm {
        height: 86px;
    }

    img {
        border: 0;
    }
    .btn2:before {
        content: "";
        background: repeating-linear-gradient(to right, transparent 0, transparent 3px, gray 3px, red 10px);
        left: 105%;
        top: 87%;
        width: 6px;
        height: 78px;
        position: absolute;
        transform: rotateZ(138deg);
    }
    @media screen and (max-width: 570px) and
    (min-width: 200px) {
        .h1{
            margin: 0 0 0 0;
            font-size: 20px;
        }
        .slide {
            display: none;
        }
        .btn:before {
            content: "";
            background: repeating-linear-gradient(to right, transparent 0, transparent 3px, gray 3px, red 10px);
            left: 18%;
            top: 100%;
            width: 6px;
            height: 40px;
            position: absolute;
        }
        .banner {
            font-size: 52px;
        }
        .banner_text2{
            font-size: 48px;
        }
        .banner_text1,.banner_text3,.banner_text4, h3{
            font-size: 30px;
        }
        h3>span, li>span{
            padding: 15px;
            font-size: 20px;
        }

        .text{
            font-size: 40px;
        }
        /*.btn{*/
        /*    font-size: 20px;*/
        /*}*/
        .btn2,.btn3{
            font-size: 18px;
        text-align: right;
        }
        .btn2:before {
            content: "";
            background: repeating-linear-gradient(to right, transparent 0, transparent 3px, gray 3px, gray 10px);
            left: 105%;
            top: 84.5%;
            width: 6px;
            height: 78px;
            position: absolute;
            transform: rotateZ(138deg);
        }
    }
}
@media screen and (max-width: 420px) and
(min-width: 200px) {
    .h1{
        font-size: 14px;
    }
    .text {
        font-size: 30px;
    }
    .flexNew{
        display: flex;
        justify-content: center;
    }
    .btn2, .btn3 {
        font-size: 14px;
        text-align: right;
    }
    .btn2:before {
        top: 81.5%;
    }
}
@media screen and (max-width: 370px) and
(min-width: 200px) {
    .btn2, .btn3 {
        font-size: 12px;
        text-align: right;
    }
    .btn2:before {
        top: 79%;
        left: 110%;
    }
    .flexNew{
        display: flex;
        justify-content: space-around;
    }
    .text{
        font-size: 25px;
    }
    .wraper{
        flex-wrap: wrap;
    }
    .nowrap{
        flex-wrap: nowrap;
    }
}
