/*!*main*!*/
.video-background {
    position: relative;
    overflow: hidden;
    width: 100%;
    /*height: 100vh;*/
}

.video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body{
/*background: rgb(186,175,211);*/

}
.marginMinus{
    margin-top: -20px;
}
.banner {
    position: relative;
    font-family: 'ralewayblack';
    font-size: 72px;
    margin-top: 80px;
    color: white;
    width: 100vw;
}
.full_active_text {
    opacity: 1;
    transform: translate(0px,0px);
}
.banner_text1{
    transform: translate(0px,120%);
    opacity: 0;
    transition: all 0.6s ease 0s;
    font-size: 50px;
    font-style: italic;
}
.banner_text2{
    transform: translate(0px,120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
    font-size: 65px;
}

.banner_text1.full_active_text{
    opacity: 1;
    transform: translate(0px,0px);
    transition: all 0.6s ease 0.6s;
}
.banner_text2.full_active_text{
    opacity: 1;
    transform: translate(0px,0px);
    transition: all 0.8s ease 0.8s;
}
.header__logo img {
    max-width: 100%;
    width: auto;
}

@media (min-width: 768px) {
    .header__logo__norm {
        height: 125px;
    }

    .header__logo__norm {
        height: 186px;
    }

    img {
        vertical-align: middle;
    }

    img {
        border: 0;
    }
}
.features {
    width: 90vw;
}
.full_active_text {
    opacity: 1;
    transform: translate(0px,0px);
}
.banner_text3{
    transform: translate(0px,120%);
    opacity: 0;
    transition: all 0.4s ease 0s;
    font-size: 40px;
    font-style: italic;
    color: white;

}
.banner_text4{
    font-size: 40px;
    font-style: italic;
    color: white;
    text-transform: uppercase;
}
.banner_text3.full_active_text{
    opacity: 1;
    transform: translate(0px,0px);
    transition: all 0.4s ease 0.4s;
}
h3{
    text-transform: uppercase;
    color: white;
    /*color:#ffc75d ;*/
    font-size: 40px;
}
h3>span{
    padding: 20px;
    color: red;
    font-size: 30px;
}
li>span{
    padding: 20px;
    color: red;
    font-size: 30px;
}

/*main*/
/*Features*/
.text{
    font-size: 50px;
    color: white;
}

.photo_feature_text {
    line-height: normal;
    text-align: center;
    margin: 114px 0 0 118px;
    width: 360px;
    align-self: center;
    /*line-height: 23px;*/
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    transform: translateY(-50%) rotate(270deg);
    position: relative;
    z-index: 10;
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.photo_feature_text.full_active_text{
    opacity: 1;
    /*transform: translate(0px,0px);*/
    transition: all 0.8s ease 0.8s;
}
.photo_feature_text2.full_active_text{
    opacity: 1;
    transform: translate(0px,0px);
    transition: all 0.8s ease 0s;
}
.photo_feature_text3 {
    line-height: normal;
    margin-top: 24px;
    width: 450px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    letter-spacing: 0.4px;
    text-transform: none;
    font-size: 24px;
    font-weight: 700;

}
.photo_feature_text3{
    opacity: 1;
    transform: translate(0px,0px);
    transition: all 0.8s ease 0.8s;
}
.photo_feature_text3.full_active_text{
    opacity: 1;
    transform: translate(0px,0px);
    transition: all 0.8s ease 0s;
}
.photo_feature_text4 {
    margin-top: 14px;
    line-height: normal;
    width: 455px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    letter-spacing: 0.4px;
    text-transform: none;
}
.anim-show{
    transform: translate(0px,120%);
    opacity: 0;
}
.anim-show.full_active_text,
.full_active_text .anim-show{
    opacity: 1;
    transform: translate(0px,0px);
    transition: all 1s ease 0s;
}
.anim-show.full_active_text,
.full_active_text .anim-show{
    opacity: 1;
    transform: translate(0px,0px);
    transition: all 1s ease 0s;
}

.btn {
    background: no-repeat linear-gradient(to top, #af1c1a 0%, #af1c1a 100%);
    border-radius: 4px;
    position: relative;
    margin: 0 0 0 0;
    /*width: 101px;*/
    color: #ffffff;
    font-family: 'arialMt',sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    border: none;
    padding: 16px 30px 16px 17px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}
.btn2,.btn3 {
    background: no-repeat linear-gradient(to top, red 0%, #af1c1a 100%);
    border-radius: 4px;
    position: relative;
    margin: 0 0 0 0;
    /*width: 101px;*/
    color: #ffffff;
    font-family: 'arialMt',sans-serif;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    border: none;
    padding: 16px 30px 5px 17px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

.btn:after{
    content: "";
    background: repeating-linear-gradient(to right, transparent 0, transparent 3px, gray 3px, red 10px);
    left: 88%;
    top: 100%;
    width: 6px;
    height: 40px;
    position: absolute;
}
.btn2:after{
    content: "";
    background: repeating-linear-gradient(to right, transparent 0, transparent 3px, gray 3px, red 10px);
    left: 48%;
    top: 100%;
    width: 6px;
    height: 60px;
    position: absolute;
}
.btn2:before{
    content: "";
    background: repeating-linear-gradient(to right, transparent 0, transparent 3px, gray 3px, red 10px);
    left: 98%;
    top: 98%;
    width: 6px;
    height: 60px;
    position: absolute;
}
.btn:before{
    content: "";
    background: repeating-linear-gradient(to right, transparent 0, transparent 3px, gray 3px, red 10px);
    left: 48%;
    top: 100%;
    width: 6px;
    height: 40px;
    position: absolute;
}

.btn:hover{
    background: linear-gradient(to top, red 0%, yellow 100%);

}
.btn2:hover,.btn3:hover{
    background: linear-gradient(to right, yellow 0%, red 100%);

}

@media screen and (max-width: 1150px) and
(min-width: 200px) {
    .h1{
        margin-right: 30px;
        margin-left: 30px;
    }
    .anim-show{
        transform: translate(0px,0px);
        opacity: 1;
        transition: none;
    }
}

@media screen and (max-width: 770px) and
(min-width: 400px) {
    img {
        vertical-align: middle;
        margin-right: 100px;
    }
    .header__logo {
        max-width: 70%;
        float: left;
    }
    .header__logo img {
        max-width: 100%;
        width: auto;
    }
    .header__logo__norm {
        height: 86px;
    }

    img {
        border: 0;
    }
    .btn2:before {
        content: "";
        background: repeating-linear-gradient(to right, transparent 0, transparent 3px, gray 3px, red 10px);
        left: 105%;
        top: 87%;
        width: 6px;
        height: 78px;
        position: absolute;
        transform: rotateZ(138deg);
    }
    @media screen and (max-width: 570px) and
    (min-width: 400px) {
        .btn:before {
            content: "";
            background: repeating-linear-gradient(to right, transparent 0, transparent 3px, gray 3px, red 10px);
            left: 18%;
            top: 100%;
            width: 6px;
            height: 40px;
            position: absolute;
        }
        .banner {
            font-size: 52px;
        }
        .banner_text2{
            font-size: 48px;
        }
        .banner_text1,.banner_text3,.banner_text4, h3{
            font-size: 30px;
        }
        h3>span, li>span{
            padding: 15px;
            font-size: 20px;
        }

        .text{
            font-size: 40px;
        }
        /*.btn{*/
        /*    font-size: 20px;*/
        /*}*/
        .btn2,.btn3{
            font-size: 18px;
        text-align: right;
        }
        .btn2:before {
            content: "";
            background: repeating-linear-gradient(to right, transparent 0, transparent 3px, gray 3px, red 10px);
            left: 105%;
            top: 84.5%;
            width: 6px;
            height: 78px;
            position: absolute;
            transform: rotateZ(138deg);
        }
    }
}
